/* HOME */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

}


body{
background-image: url("/public/Fondo_login.jpg");
background-size: cover;
background-repeat: no-repeat;
}
.imagen-bienvenidos{
  position: relative;
  width: 500px;
  top: 10px;
  left: 3px;
}

.informacion_inicio_clientes p{
  position: relative;
  top: 40px;
  
}
.informacion_inicio_clientes{
  background-color: rgba(255, 255, 255, 0.706);
  text-align:center;
  color: rgb(0, 0, 0);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  font-weight:600;
  position: relative;
  width: 600px;
  border: solid 2px black;
  height: 400px;
  border-radius: 10px;
  margin:40px;
  left: 650px;
  bottom: 100px;
}

.footer h5{
  position: relative;
  top: 40px;
}
.footer{
  text-align: center;
  background-color:  #fc0000db;
  position: relative;
  height: 160px;
  top: 650px;
  color: #ccc;
  border-top: solid 2px white;
}

.InputValidacion{
  padding: 10px 10px;
  width: 300px;
  position: relative;
  color:rgb(8, 8, 8);
  border-radius: 10px;
}


.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
    top: 300px;
}


.caja__trasera{
width: 100%;
padding: 10px 20px;
display: flex;
justify-content: center;
backdrop-filter: blur(5px);
background-color: rgba(255, 0, 0, 0.327);
}

.caja__trasera section{
    margin: 90px;
    color: white;
   
}

.caja__trasera section p{
margin-top: 30px;
}

.caja__trasera section h3{
font-weight: 400;
font-size: 20px;
}

.contenedor__login-register form h2{
font-size: 20px;
text-align: center;
margin-bottom: 20px;
color: #fd4646;
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    border-bottom: solid 1px black;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
padding: 10px 40px;
margin-top: 40px;
margin-left:70px;
border-radius: 10px;
border: solid 1px white;
font-size: 16px;
background: rgba(255, 0, 0, 0.775);
color: black;
cursor: pointer;
outline: none;
}

.contenedor__login-register form button:hover{
    color: red;
    background-color: white;
    border-color: red;
}


@media screen and (max-width: 850px){

.caja__trasera{
max-width: 350px;
height: 300px;
}

.caja__trasera section{
margin: 0px;
position: absolute;
}


.contenedor__login-register{
top: -10px;
left: -5px;
}

.contenedor__login-register form{
    position:relative;
}

}

/*TAREAS CLIENTES*/
  .table-container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .creative-table {
    width: 60%;
    border-collapse: collapse;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    top: 50px;
  }
  
  .creative-table th,
  .creative-table td {
    padding: 12px;
    text-align: center;
  }
  
  .creative-table thead th {
    background-color: #fc0000f3;
    color: white;
  }
  
  .creative-table tbody tr {
    border-bottom: 1px solid #ccc;
  }
  
  .creative-table tbody tr:last-child {
    border-bottom: none;
  }
  
  .creative-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .uno td{
    background-color: #f2f2f2;
    width: 300px;
  }

  
  .creative-table tbody td[data-label]:before {
    content: attr(data-label);
    font-weight: bold;
    color: black;
    display: block;
  }
  

  .creative-table td:hover {
    background-color: #f9e79f;
    transition: background-color 0.3s ease;
  }

  .titutarea{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    font-size: 40px;
    border-radius:30px ;
    border:solid 3px white;
    position: relative;
    color: white;
    width: 200px;
    top: 40px;
    left: 45%;
    background-color: #fc00007c;
  }
  .titutareas{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    font-size: 40px;
    border-radius:30px ;
    border:solid 3px white;
    position: relative;
    color: white;
    width: 500px;
    top: 40px;
    left: 37%;
    background-color: #fc00007c;
  }
  
  .caja__trasera-register a{
    padding: 10px 80px;
    border: 2px solid #fff;
    background: transparent;
    position: relative;
    top: 106px;
    right: 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color:white;
    outline: none;
    transition: all 300ms;
  }

  .caja__trasera-register a:hover{
    background-color: #fff;
    color: #fd4646;
    border-color:#fd4646 ;
  }

  .caja__trasera-register p{
    font-size: 17px;
    position: relative;
    font-weight: 100;
    right: 30px;
  }
  .caja__trasera-register h3{
    font-size: 20px;
    position: relative;
    right: 20px;
  }

  .btn-login-admin{ 
    padding: 10px 40px;
    border: 2px solid #fff;
    background: transparent;
    position: relative;
    top: 60px;
    left: 20px;
    font-size: 17px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    color:white;
    transition: all 300ms;
  }
  .btn-login-admin:hover{
    background-color: #fff;
    color: #fd4646;
    border-color:#fd4646;
  }
  /* PAGINA PRINCIPAL ADMINISTRADOR */
  .boton_Inicio{
  padding: 10px 40px;
  border: 2px solid white;
  background-color: green;
  position: relative;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  color:white;
  top: 300px;
  left:40px;
  font-size: 14px;
  font-weight: 600;
  margin: 10px;
  }
  .boton_Inicio:hover{
  background-color: white;
  border-color: green;
  color: green;
  }
  
  .header__PaginaPrincipalAdmin a{
    background-color: transparent;
    padding: 10px 40px;
    border: 2px solid #faf7f7;  
    position: relative;
    text-align: center;
    cursor: pointer;
    color:white;
    outline: none;
    top: -70px;
    font-size: 14px;
    font-weight: 600;
    transition: all 300ms;
    margin: 100px;
    
  }
  .logo{
    border-radius: 300px;
    position: relative;
    width: 400px;
    height: 400px;
    top: 250px;
  }

  .boton_Inicios{
    padding: 10px 40px;
    background-color: transparent;
    color: white;
    border: solid 2px white;
    border-radius: 20px;
    position: relative;
    top: 250px;
    left: 40px;
  }
  .boton_Inicios:hover{
    background-color: #fff;
    color: #fd4646;
    border-color:#fd4646;
  }
  a{
    text-decoration: none;
  }
  /* Pagina principal clientes */
  .header_Clientes a{
    background-color: transparent;
    padding: 10px 40px;
    border: 2px solid #faf7f7;  
    position: relative;
    text-align: center;
    cursor: pointer;
    color:white;
    text-decoration: none;
    top: -70px;
    left: 100px;
    font-size: 14px;
    font-weight: 600;
    transition: all 300ms;
    margin: 40px;
  }
  .header_Clientes{
    text-align: center;
    background-color: #fc0000db;
    height: 160px;
    border-bottom:solid 3px white;
  }

  .header_Clientes a:hover{
    background-color: #fff;
    color: #fd4646;
    border-color:#fd4646;
  }

  .logodos{
    width: 130px;
    height: 130px;
    border-radius: 100px;
    position: relative;
    right: 550px;
    top: 10px;
  }

  .header__PaginaPrincipalAdmin{
    text-align: center;
    background-color: #fc0000db;
    height: 160px;
    border-bottom:solid 3px white;
  }

  .header_Administrador a{
    background-color: transparent;
    padding: 10px 40px;
    border: 2px solid #faf7f7;  
    position: relative;
    cursor: pointer;
    color:white;
    text-decoration: none;
    font-size: 14px;
    top: 70px;
    font-weight: 600;
    margin:30px;
  }
  .header_Administrador a:hover{
    background-color: #fff;
    color: #fd4646;
    border-color:#fd4646;
  }

   /* Tienda-Clientes */


   .imagen-fondo{
    height: 400px;
    width: 100%;
    background-image: url(./assets/verduras.jpeg);
  }
  .tienda{
    width: 100%;
    height: 1350px;
    position: relative;
    display: flex;
    top: 367px;
    flex-wrap: wrap;
    background-color: black;
    gap: 40px;
  }
  .secciones-tienda{
    width: 280px;
    height: 350px;
    background-color: white;
    justify-content:space-around;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: solid 2px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 50px;
    position: relative;
    left: 120px;
    top: 20px;
  }

  img{
    width: 200px;
    height: 150px;
    border: solid 2px black;
    position: relative;
    right: 10px;
  }

.secciones-tienda h2{
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  bottom: 30px;
}


.secciones-tienda button{
  padding: 10px 40px;
  width: 220px;
  position: relative;
  top: 10px;
  right: 20px;
  background-color: green;
  cursor:pointer;
  border: solid 2px black1;
  font-size: 15px;
  color: white;
  border-radius: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.secciones-tienda button:hover{
  background-color: white;
  border-color: green;
  color: green;
}

.carrito{
  background-color: white;
  width: 100%;
  height: 100px;
}
.compras{
  position: relative;
  left: 86%;
  bottom: 25px;
  font-size: 48px;
  cursor: pointer;
}

.carrito h1{
  font-size: 45px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  position: relative;
  top: 20px;
  font-style:oblique;
  text-shadow: 4px 4px 4px  green;
}
.numero{
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative; 
  bottom: 40px;
}
.contador h3{
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative; 
  top:8px;
}
.contador{
  background-color: green;
  width: 50px;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  position: relative;
  left: 89%;
  bottom: 75px;
  color: white;
}

.boton_Inicio_clientes{
  padding: 10px 40px;
  border: 2px solid white;
  background-color: green;
  position: relative;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  color:white;
  top: 300px;
  left:40px;
  font-size: 14px;
  font-weight: 600;
  margin: 10px;
}

.boton_Inicio_clientes:hover{
  background-color: white;
  color: green;
  border-color:green;
}
.total_compras{
  padding: 10px 40px;
  border: 2px solid white;
  background-color: green;
  position: relative;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  color:white;
  left:60px;
  bottom: 32px;
  font-size: 14px;
  font-weight: 600;
  margin: 10px;
}
.total_compras:hover{
  background-color: white;
  color: green;
  border-color:green  ;
}

.totalproductos{
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
  font-size: 40px;
  border-radius:30px ;
  border:solid 3px white;
  position: relative;
  color: white;
  width: 450px;
  top: 40px;
  left: 38%;
  background-color: #fc00007c;
}